<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.16.0" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Management" version="7.0.1" targetFramework="net472" />
  <package id="TaskScheduler" version="2.10.1" targetFramework="net472" />
</packages>